<footer class="footer">
  <p>Content is published under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a> excepting the C-ov-N logo and where otherwise indicated.</p>
  <p>Permission is explicitly denied to use this content for training of generative artificial intelligence.</p>
</footer>
